pkgbase = libsodium
	pkgdesc = A modern, portable, easy to use crypto library
	pkgver = 1.0.19
	pkgrel = 3
	url = https://github.com/jedisct1/libsodium
	arch = x86_64
	license = custom:ISC
	makedepends = git
	depends = glibc
	provides = libsodium.so
	source = git+https://github.com/jedisct1/libsodium.git?signed#tag=1.0.19-RELEASE
	validpgpkeys = 54A2B8892CC3D6A597B92B6C210627AABA709FE1
	sha512sums = SKIP

pkgname = libsodium
